/* styles.css */

body {
  font-family: 'Bitter';
  font-family: 'Archivo Narrow';
}

label {
  display: block;
}

input {
  display: block;
}

.error, #errors {
  color: red;

}

.message, #messages {
  color: green;
}

tr.r0 {
  background-color: #f0f0f0;
}
tr.r1 {
  background-color: #e0e0e0;
}
.description {
  font-size: 0.8em;
  color: #777;
}
nav {
  clear: both;
}
nav li {
  float: left;
  list-style: none;
}
nav ul {
  list-style: none;
  clear: both;
}
nav li a {
  display: block;
  padding-left: 0.8em;
  padding-right: 0.8em;
  text-decoration: none;
  color: #2762a4;
}

span.key {
  font-size: 0.8em;
}
/* utility */
div.clearDiv {
  clear: both;
  float: none;
}
th {
  font-size: 0.85em;
  padding: 0.4em;
}
td {
  font-size: 0.7em;
  font-family: sans-serif;
  padding: 0.4em;
}
img.return_picture {
  width: 100px;
}
