body {
    margin: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100% 100%;
    background-image: url("gold.jpg");
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

.table {
	display: table;
	margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B7A369;
}

li {
    float: left;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}
